.mainBox {
    position: relative;
    padding-left: 6vh;
}

@media(max-width: 850px) {
    .mainBox {
        padding-left: 50px;
    }
}

.topBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languageBox,
.logoBox {
    display: flex;
    width: 100%;
}

.languageBox {
    justify-content: flex-end;
    margin: 6vh 10vw 40px 0;
}

.logoBox {
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 20px;
}

.middleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.scrollWrapperBox {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 80px;
}

.rightProduct {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.titleBox h1 {
    font-size: 68px;
    letter-spacing: 2px;
    line-height: 82px;
    color: #fff;
    ;
    font-family: "Roboto Slab";
    font-weight: 300;
    text-align: right;
}

.titleBox h1>span {
    color: #77924A;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 82px;
    font-family: "bannerBig";
}

.nextButton {
    margin-left: auto;
    border-bottom: 1px solid #77924A;
    width: fit-content;
    z-index: 10;
    white-space: nowrap;
}

.nextButton span {
    text-decoration: none;
    color: #77924A;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

@media(max-width: 550px) {
    .nextButton {
        border-bottom: none;
    }

    .nextButton span {
        white-space: normal;
    }
}

.nextButton svg>path {
    color: #77924A;
}

.activeProduct {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activeProduct>img {
    height: 25vh;
    width: 100%;
    object-fit: contain;
}

.activeDescription {
    font-size: 10px;
    letter-spacing: 1px;
    color: hsl(0, 0%, 54%);
    font-family: "Roboto Slab";
    font-weight: 400;
    margin-top: 20px;
}

.bottomBox {
    display: flex;
    align-items: center;
}

.socialMedia {
    width: 120px;
}



.swiper {
    width: calc(100% - 120px);
    position: relative;
    margin: 0 auto;
}

.swiperContainer {
    width: 66%;
    height: 100%;
    margin: 0 auto;
}

.swiperSlide {
    display: grid;
    place-items: center;
}

.swiperSlide>img {
    height: 100px;
    cursor: pointer;
    transition: .2s ease-in-out;
    filter: grayscale(1)
}

.swiperSlide>img.active {
    filter: grayscale(0)
}

.swiperSlide>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
}

.swiperButtonNext {}

.swiperButton {
    background: none;
    font-size: 30px;
    outline: none;
}

.swiperButton>svg>path {
    color: hsl(0, 0%, 54%);
}

.swiperButtonNext {
    right: 80px;
}

.swiperButtonPrev {
    left: 80px;
}

.imageWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65vh;
    width: 120px;
    display: grid;
    place-items: center;
}

.socialImage {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(min-height: 1200px) {
    .activeProduct {
        margin-top: 17vh;
    }
}

@media(max-width: 1439px) {
    .languageBox {
        margin-bottom: unset;
        white-space: nowrap;
    }

    .titleBox>h1 {
        font-size: 54px;
        line-height: 120%;
    }

    /* .titleBox> */
}

@media(max-width: 800px) {
    .activeProduct {
        margin: 0 auto;

    }

    .rightProduct {
        width: 100%;
    }

    .titleBox {
        padding-right: 100px;
    }
}

@media(max-width: 770px) {
    .swiperContainer {
        width: 94%;
    }

    .swiperButtonNext {
        right: 10px;
    }

    .swiperButtonPrev {
        left: 10px;
    }
}

@media(max-width: 550px) {
    .swiper {
        width: 100%;
    }

    .titleBox {
        padding-right: unset;
        align-items: center;
    }

    .titleBox>h1 {
        text-align: center;
    }
}

@media(max-width: 450px) {
    .titleBox>h1 {
        font-size: 40px;
        line-height: 140%;
    }

    .titleBox>h1>span {
        font-size: 55px;
    }

    .activeProduct {
        padding-bottom: 10px;
    }
}