.videoBox {
    position: relative;
    max-width: 320px;
    height: 564px;
    /* overflow: hidden; */
}

.backVid {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translate(6px, 6px);
}

.videoControls {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    background-color: #2424247a;
    opacity: 0;
}

.videoControls:hover {
    opacity: 1;
}

.videoDev {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.playBox {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 14px;
}

.playBox:hover {
    cursor: pointer;
}

.description {
    padding: 0 10px;
}

.videoDev .description {
    text-align: right;
}

.description>h1 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 21px;
    font-family: "Impact";
    margin-bottom: 14px;
}

.description>.text {
    height: 90px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #8e8d8d;
    font-family: "Roboto Slab";
    font-weight: 300;
}

.muteBox {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 22px;
}

.mainConnected {
    position: fixed;
    right: 4vw;
    top: 16vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.connectedBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background-color: #fff;
    max-width: 26vw;
    width: 420px;
    border-radius: 6px;
    margin-bottom: 16px;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
    overflow: hidden;
}

.connectedBox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background-color: rgba(119, 146, 74, 0.21);
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.connectedBox:hover::after {
    transform: translateX(0)
}

.connectedBox>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
}

.prodImage {
    width: 40%;
    display: grid;
    place-items: center;
    margin-right: 22px;
}

.prodImage>img {
    max-width: 96%;
    max-height: 140px;
}

.prodText {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.prodText>h2,
.prodText>div {
    color: black;
    margin-top: 0;
}

.prodText>h2 {
    text-transform: uppercase;
}

.connectedVisible:hover {
    cursor: pointer;
}

.connectedVisible {
    opacity: 1;
    transform: scale(1)
}

.connectedHide {
    transform: translateX(600px);
    opacity: 0;
}