.whiteElement {
    position: fixed;
    left: 0;
    top: 0;
    width: 6vw;
    height: 100vh;
    /* transform: translateX(-100%); */
    /* z-index: 20; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 40;
    padding: 4vh 0;
}